@using Microsoft.Extensions.Options;
@using MyAdmin.Admin;

@inject IOptions<AdminOptions> opts;
@inject RouteHelper routeReverser;

@{
    Layout = "~/Areas/Admin/_Layout.cshtml";
    ViewData["Title"] = "Select model to change";
    AdminOptions options = opts.Value;
}

@{
    PaginatedList<object> pages = (ViewData["Pages"] as PaginatedList<object>)!;
    List<Dictionary<string, object?>>? Dataset = ViewData["Dataset"] as List<Dictionary<string, object?>>;
    HashSet<string>? Properties = ViewData["Properties"] as HashSet<string>;
}

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <ul>
                @foreach (string modelName in options.Admins.Keys)
                {
                    <li><a href="../@modelName/">@modelName</a></li>
                }
            </ul>
        </div>
        <div class="col-lg-9">
            <h1>@ViewData["ModelName"]</h1>

            <div class="d-flex justify-content-end mb-4">
                <a class="btn btn-primary" href="add/">Add @ViewData["ModelName"]</a>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        @foreach (string key in Properties!)
                        {
                            <th>
                                <a class="heading-hyperlink" data-prop-name="@key">@key</a>
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (Dictionary<string, object?> record in Dataset!)
                    {
                        int i = 0;

                        <tr>
                            @foreach (string key in Properties!)
                            {
                                @if (i == 0)
                                {
                                    <td>
                                        <a href="@routeReverser.Reverse("MyAdmin_ModelChange_Get", new { modelName = @ViewData["ModelName"], objIdentifier = record.GetValueOrDefault(key) })">
                                            @record.GetValueOrDefault(key)
                                        </a>
                                    </td>
                                }
                                @if (i != 0)
                                {
                                    <td>@record.GetValueOrDefault(key)</td>
                                }
                                i += 1;
                            }
                        </tr>
                    }
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    @if (pages.HasPreviousPage)
                    {
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page=@pages.PreviousPageNumber" aria-label="Previous">
                                <span aria-hidden="true">@pages.PreviousPageNumber</span>
                            </a>
                        </li>
                    }

                    <li class="page-item active">
                        <div class="page-link" aria-label="CurrentPage">
                            @pages.PageIndex
                        </div>
                    </li>

                    @if (pages.HasNextPage)
                    {
                        <li class="page-item">
                            <a class="page-link" href="?page=@pages.NextPageNumber" aria-label="Next">
                                <span aria-hidden="true">@pages.NextPageNumber</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page=@pages.TotalPages" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const headingHyperlinks = document.querySelectorAll(".heading-hyperlink")
        for (let el of headingHyperlinks) {
            const params = new URLSearchParams(window.location.search);
            let propName = el.getAttribute("data-prop-name")
            if (propName != '') {
                const currentOrder = params.get("order")
                if (currentOrder !== null && currentOrder === propName) {
                    if (!currentOrder.startsWith("-")) {
                        propName = "-" + propName
                    }
                }
                params.set("order", propName)
            }
            el.href = "?" + params.toString()
        }
    </script>
} 
